.example-container {
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-opcoes {
  width: 80px;
  min-width: 80px;
  text-align: center;
}

.mat-column-nome {
  width: 100%;
  text-align: left;
}
