<div class="grid-container"  >
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sobre Sistema
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Este sistema foi desenvolvido por João Paulo Mdina Passos </div>
          Data de Conclusão: 15/18/2019
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>